:host {
  display: flex;
  flex-direction: column;

  height: 100%;
  text-align: center;
}

.bg {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;

  margin: auto;
  max-width: 100%;
  height: auto;

  z-index: -1;
}

.button-group {
  display: flex;
  justify-content: space-between;

  margin-top: 2em;
}

a {
  display: block;
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 15px 30px;
  font-weight: bold;
}

.primary {
  $primary-color: red;
  background-color: $primary-color;
  border-color: $primary-color;
}
