<header>

  <h1> <img src="assets/icons/favicon-32x32.png" alt="">{{ score }}</h1>

</header>

<section>

  <paf-monitor
  letter="ArrowLeft"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter=" "
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowRight"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowDown"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowUp"
  (change)="onChange($event)"
  ></paf-monitor>
  <!--<paf-monitor
  letter="a"
  ></paf-monitor>-->

</section>

<footer class="timer" [style.width]="percentTime"></footer>
