<header>
<!--
  <h1>Score {{ score }}</h1>
  <h1>Duration {{ duration }}</h1>
-->
</header>

<section>

  <paf-monitor
  letter="ArrowLeft"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter=" "
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowRight"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowDown"
  (change)="onChange($event)"
  ></paf-monitor>

  <paf-monitor
  letter="ArrowUp"
  (change)="onChange($event)"
  ></paf-monitor>
  <!--<paf-monitor
  letter="a"
  ></paf-monitor>-->

</section>
