:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

video {
  display: block;
  flex: 2;
  height: 50%;
  border: solid 1px;
  width: 100%;
  margin: auto;
}

p {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}
