:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

video {
  display: block;
  flex: 2;
  height: 22vh;
  width: 100%;
  margin: auto;
}

p {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

$size: 15px;

.indicators {
  display: flex;
  position: absolute;
  bottom: -65px;
  left: calc(50%);
}

.indicator {
  width: $size;
  height: $size;
}
